Source: xscreensaver-pi-hdmi
Section: x11
Priority: extra
Maintainer: Robert Ames <ramses0@yahoo.com>
Build-Depends: debhelper (>= 8.0.0), ruby-ronn (>= 0.7.3)
Standards-Version: 3.9.3
Homepage: https://github.com/ramses0/xscreensaver-pi-hdmi/
Vcs-Git: git://github.com/ramses0/xscreensaver-pi-hdmi.git
Vcs-Browser: https://github.com/ramses0/xscreensaver-pi-hdmi

Package: xscreensaver-pi-hdmi
Architecture: all
Depends: xscreensaver (>= 5.15)
Description: Turn on/off Raspberry Pi HDMI port based on xscreensaver state
 Raspberry Pi requires some special command execution to physically
 turn on / off HDMI ports.  This utility cooperates with xscreensaver
 to physically turn off and on the HDMI output when necessary.
